/* переменные */
$grey: #0000008A;
$blue: #1071FF;
$black: #000000DE;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 27px;
    margin: 0 auto;
    .header__burger {
        width: 18px;
        height: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}