body {
  background-color: #282c34;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #40444c;
}

::-webkit-scrollbar-thumb {
  background-color: #61dafb96;
  box-shadow: inset 0px 0px 1px 3px #40444c;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: #282c34;
  padding: 10px 25px 15px;
  box-shadow: 0px 0px 20px 0px #61dafb47;
  border-bottom: 1px solid #61dafb2e;
}

.header__logo {
  color: #61dafb;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, auto));
  justify-content: space-between;
  grid-column-gap: 20px;
  grid-row-gap: 35px;
  margin: 87px 0 35px;
  padding: 0 30px;
}

.list__item {
  border: 1px solid #094756;
  cursor: pointer;
  transition: 0.1s ease-out;
  position: relative;
}

.list__item:hover {
  box-shadow: 0px 4px 8px 0px #61dafb47;
  /*box-shadow: 0px 4px 8px 0px #c378086b;*/
  border: 1px solid #325d68;
  transition: 0.3s ease-out;
}

.list__img {
  /*height: 155px;*/
  background-color: #313742;
}

.list__img img {
  width: 100%;
  height: 100%;
}

.list__details {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px 10px 10px;
  background-color: #282c34cc;
  border-radius: 0 0 0 15px;
}

.list__details i {
  margin-right: 5px;
}

.list__info {
  padding: 5px 10px 10px;
}

.list__info-title {
  color: #ffffff;
  font-size: 20px;
  padding: 0 0 3px 0;
  margin: 0 0 7px 0;
  border-bottom: 1px solid #40444c;
}

.list__info-details {
  color: #ffffffc4;
  font-size: 14px;
  margin: 0 0 10px 0;
}

.list__info-details span {
  color: #ffffff80;
  margin-right: 10px;
}

.list__info-genres {
  display: flex;
}

.list__info-genres>div {
  display: flex;
  grid-gap: 5px;
}

.list__info-description {
  color: #4ac7e9e3;
  font-size: 14px;
}

.list__load {
  margin: 240px 0 0 0;
  color: #fff;
  text-shadow: 1px 3px 7px #065781;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__error {
  margin: 240px 0 0 0;
  color: #e77171;
  text-shadow: 1px 3px 7px #2a0101;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* страница с выбранным фильмом */

.back-list {
  width: 76px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4ac7e9e3;
  border: 1px solid #4ac7e9e3;
  padding: 1px 20px 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-out;
  margin: 0 0 25px 0;
}

.back-list:hover {
  color: #ffffffe6;
  box-shadow: inset 0 0 10px 3px #61dafb47;
  transition: 0.3s ease-out;
}

.back-list span {
  margin-left: 5px;
}

.item-page {
  margin: 87px 0 35px;
  padding: 0 30px;
  position: relative;
}

.item-page__info {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 50px;
}

.item-page__img img {
  width: 100%;
  display: block;
}

.item-page__title {
  color: #ffffffe6;
  font-size: 24px;
  margin: 0 0 10px 0;
}

.item-page__details {
  color: #ffffffc4;
  font-size: 14px;
  margin: 0 0 10px 0;
}

.item-page__genres {
  display: flex;
}

.item-page__genres > div {
  display: flex;
  grid-gap: 5px;
}

.item-page__genres > span {
  color: #ffffff80;
  margin-right: 10px;
}

.item-page__published > span {
  color: #ffffff80;
  margin-right: 10px;
}

.item-page__rating {
  color: #ffc800c4;
  font-size: 18px;
  font-weight: 700;
}

.item-page__rating > span {
  color: #ffffff80;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
}

.item-page__years > span {
  color: #ffffff80;
  margin-right: 10px;
}

.item-page__comment > span {
  color: #ffffff80;
  margin-right: 10px;
}

.item-page__description {
  color: #4ac7e9e3;
  font-size: 16px;
  padding: 0 135px 0 0;
}

.item-page__play {
  margin: 60px auto 40px;
  display: block;
  width: 80%;
  position: relative;
}

.play__wrapper {
  width: 100%;
}

.item-page__play img {
  width: 100%;
  display: block;
}

.item-page__download {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-page__download > div {
  background-color: #282c34e6;
  padding: 30px 20px 40px;
  border-radius: 20px;
}

.item-page__download-title {
  text-align: center;
  margin: 0 0 15px 0;
  color: #ffffffe6;
  font-size: 24px;
}

.item-page__download-item {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 20px;
}

.item-page__download-item > a {
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  color: #52daffe3;
  border: 1px solid #52daffe3;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.1s ease-out;
}

.item-page__download-item > a:hover {
  color: #ffffffe6;
  box-shadow: inset 0 0 10px 3px #61dafb47;
  transition: 0.3s ease-out;
}

/* / страница с выбранным фильмом */

/* responsive */

@media (max-width: 991px) {
  .back-list {
    position: absolute;
    top: 0;
    right: 30px;
  }

  .item-page__info {
    grid-template-columns: 1fr;
  }

  .item-page__img {
    width: 330px;
  }

  .item-page__description {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .item-page__play {
    width: 100%;
  }
}

@media (max-width: 649px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(240px, auto));
  }
}

@media (max-width: 550px) {
  .back-list {
    position: relative;
    top: 0;
    right: 0;
    margin-left: auto;
  }
}

@media (max-width: 440px) {
  .item-page__img {
    width: 100%;
  }

  .play__wrapper {
    opacity: 0;
  }
}

@media (max-width: 360px) {
  .list {
    padding: 0 15px;
  }
}



/* / responsive */
